@font-face {
    font-family: 'geistsemibold';
    src: url('geist-semibold-webfont.woff2') format('woff2'),
         url('geist-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



.time {
    color: white;
    font-family: 'geistsemibold';
    font-size: 50.5px;
}

.am {
    color: white;
    font-family: 'geistsemibold';
    font-size: 15px;
}

.pm {
    color: rgba(255, 255, 255, 0.408);
    font-family: 'geistsemibold';
    font-size: 15px;
}

.ampmbx {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 1px;
}

.timebx {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 8px;
    width: fit-content;
    height: fit-content;
    margin-left: 50px;
    margin-bottom: 50px;
}

/* .screen {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    border-style: dotted;
    width: 100%;

} */

.friendsicon {
    width: 40px;
    height: 40px;

}

.friends {
    color: white;
    font-family: 'geistsemibold';
    font-size: 37.9px;
    margin-top: 3px;

}

.friendsbx {
    display: flex;
    align-items: center;
    gap: 8px;
    height: fit-content;
    width: fit-content;
    margin-top: 50px;
    margin-left: 50px;
}

.mixericon {
    width: 40px;
    height: 40px;

}

.mixer {
    color: white;
    font-family: 'geistsemibold';
    font-size: 37.9px;
    margin-top: 3px;

}

.mixerbx {
    display: flex;
    align-items: center;
    gap: 8px;
    height: fit-content;
    width: fit-content;
    margin-top: 50px;
    margin-right: 50px;
}

.topbx {
    justify-content: space-between;
    display: flex;
}

.icon {
    width: 40px;
    height: 40px;
}

.toolbox {
    display: flex;
    align-self: flex-end;
    gap: 20px;
    width: fit-content;
    margin-right: 50px;
    margin-bottom: 50px;
}

.bottombx {
    display: flex;
    justify-content: space-between;
    height: 85vh;
}